.profile-photo{
    height: 200px;
    border-radius: 50%;
}

.home h1 {
    font-size: 2rem;
    font-family: monospace;
    margin-bottom: 20px;
    color: #a16629;
    word-wrap: break-word;
}

.home p {
    font-size: 1rem;
    color: #a16629;
    font-family: monospace;
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;
}
