.projects {
  margin: 5%;
  padding: 20px;
  background-color: rgba(204, 201, 182, 0.53);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projects h2 {
  color: #a06629;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.projects p {
  font-size: 1.1em;
  color: #a06629;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.project-card {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

.project-card:hover {
  transform: scale(1.05);
  background-color: #f0d9b5;
}

.project-card a {
  text-decoration: none;
  color: #a16629;
  font-size: 1.1em;
  font-weight: bold;
}

.project-card a:hover {
  color: #6b4423;
}

.filter {
  margin-bottom: 10px;
  text-align: center;
}

.filter select {
  padding: 5px;
  font-size: 1.1em;
  border-radius: 25px;
  border: 1px solid #a06629;
  background-color: #fff;
  color: #a06629;
  cursor: pointer;
}

.filter select:hover {
  background-color: #f0d9b5;
}
