.refresh-button {
    margin: 15px    ;
    padding: 8px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #a06629;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.refresh-button:hover {
    background-color: #6b4423;}