.skills {
    margin: 20px;
    padding: 20px;
    background-color: rgba(204, 201, 182, 0.53);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h2 {
    color: #a06629;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .skills-list {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
